.main-content {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.styled-table {
  border-collapse: separate;
  border-spacing: 0 12px;
  font-size: 1em;
  min-width: 400px;
}

.styled-table thead tr {
  color: #ffffff;
  text-align: left;
  border-spacing: 0 0px;
}

.styled-table tbody tr {
  background-color: #222;
}


.styled-table th {
    padding: 12px 15px;
}

.styled-table td {
  padding: 12px 15px 12px 15px
}

.styled-table td:first-child,
.styled-table th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

caption {
  font-size: 1.25rem;
  font-weight: 600;
}