@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 
 :root {
  --header-height: 3.5rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Orbitron", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }
 
 body {
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
 }
 
 ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }

 .form a {
  text-decoration: underline;
 }


 .questionDrawerForm {
  margin-bottom: 12px;
  margin-top: 12px;
 }

 .quiz {
  width: 330px;
 }