@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }
 
 :root {
  --header-height: 3.5rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Orbitron", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
 }
 
 body {
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
 }
 
 ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }

 .form a {
  text-decoration: underline;
 }


 .questionDrawerForm {
  margin-bottom: 12px;
  margin-top: 12px;
 }

 .tableContent {
  width: 100%;
 }

 .table {
  min-width: 335px;
  max-width: 375px;
  width: 375px;
 }

 .quiz {
  max-width: 375px;
 }

 .radio {
  background-color: #27272A;
 }
 .radio:hover {
  background-color: #3f3f46;
 }

 .table-header {
  height: 40px;
  line-height: 40px;
 }

 .section-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.group-choices {
  margin-bottom: 1rem;
  border-color: #444;
  background-color: #18181b;
}

.quizSubmit {
  padding-top: 24px;
}

.login {
  box-shadow: 0px 0px 20px 0px #4e4e4e;
  padding: 2rem;
}

.logo {
  margin-bottom: 16px;
}

.buttonBreak {
  justify-self: center;
}

/* Admin questions table: hide actions column on mobile (edit is in first column) */
@media (max-width: 639px) {
  .admin-questions-table th:nth-child(6),
  .admin-questions-table td:nth-child(6) {
    display: none;
  }
}