.group-choices {
    margin-bottom: 1rem;
    border-color: #444;
    background-color: #18181b;
  }

.section-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.quizSubmit {
  padding-top: 24px;
}